<section class="sectionPC">
  <div class="skills" data-aos="flip-left">
    @for(item of skills; track item) {
    <div>
      <img src="./../../../assets/icons/{{ item.img }}" alt="">
      <p class="description">{{ item.description }}</p>
    </div>
  }
    <div class="shadowSkills">
      <img src="./../../../assets/imgs/shadowlightBlueSkills.png" alt="">
    </div>
  </div>
  <div class="skillsInfo">
    <h1>{{'skillsHeadline' | translate}}</h1>
    <p class="skillsText">
      {{'skillsText' | translate}}
    </p>
    <h3>{{'skillsSubheadline1' | translate}} <span style="color: #4b47ff;">{{'skillsSubheadline2' | translate}}</span>{{'skillsSubheadline3' | translate}}</h3>
    <p>
      {{'skillsSubtext' | translate}}
    </p>
    <a href="#contact" class="contact">
      <button>{{'skillsCta' | translate}}</button>
    </a>
  </div>
  <div class="vector"></div>
</section>

<section class="sectionMobile" id="section">
  <div class="mobileHead">
    <h1>{{'skillsHeadline' | translate}}</h1>
    <p class="skillsText">
      {{'skillsText' | translate}}
    </p>
  </div>
  <div class="skills" data-aos="flip-left">
    @for(item of skills; track item) {
    <div>
      <img src="./../../../assets/icons/{{ item.img }}" alt="">
      <p class="description">{{ item.description }}</p>
    </div>
    }
  </div>
  <h3>{{'skillsSubheadline1' | translate}} <span style="color: #4b47ff;">{{'skillsSubheadline2' | translate}}</span>{{'skillsSubheadline3' | translate}}</h3>
  <p class="skillsSubtext">
    {{'skillsSubtext' | translate}}
  </p>
  <a href="#contact" class="contact">
    <button>{{'skillsCta' | translate}}</button>
  </a>
</section>