<section>
  <!--
  <div>
    <img class="heroBackground" src="./../../../assets/imgs/HeroBackground.png" alt="Hero Background">
  </div>
  -->
  <div class="linksContainer">
    <div class="linksHero">
      <!--<hr>-->
      <a href="https://github.com/DietrichSaskia" target="_blank">
        <img src="./../../../assets/icons/8. Github button.png" alt="GitHub">
      </a>
      <a href="#contact">
        <img src="./../../../assets/icons/9. Email button.png" alt="Email">
      </a>
      <a href="https://www.linkedin.com/in/saskia-dietrich-51128b33b/" target="_blank">
        <img src="./../../../assets/icons/10. Linkedin button.png" alt="LinkedIn">
      </a>
    </div>
    <div class="scrollDown">
      <span>scroll down</span>
      <img src="./../../../assets/icons/arrow-down-line.png" alt="Arrow Down">
    </div>
  </div>
</section>
