<section>
  <div class="heroContainer">
    <div class="heroImageContainer">
      <!--<img  class="shadowHeroSection" src="./../../../assets/imgs/shadowHeroSection.png" alt="">-->
      <img class="heroImg" src="./../../../assets/imgs/Saskia1.png" alt="Hero Image">
    </div>
    <div class="heroIntroduceContainer">
      <div class="introduceContainer">
        <span class="iAm">{{'iAm' | translate}}</span>
        <div class="introduce">
          <h1>Saskia Dietrich</h1>
          <h2>{{'job' | translate}}</h2>
        </div>
      </div>
      <a href="#contact">
        <button>{{'heroCta' | translate}}</button>
      </a>
    </div>
  </div>
</section>