<section>
  <h1>{{'privacyPolicy2' | translate}}</h1>

  <h2>1. {{'privacySubheadline' | translate}}</h2>

  <h3>{{'generalNotes' | translate}}</h3>
  <p>
    {{'generalNotesText' | translate}}
  </p>

  <h3>{{'dataCollection' | translate}}</h3>

  <h4>{{'dataCollectionSubheadline' | translate}}</h4> 
  <p>
    {{'dataCollectionText' | translate}}
  </p> 
  <h4>{{'dataCapture' | translate}}</h4> 
  <p>
    {{'dataCaptureText1' | translate}}
  </p> 
  <p>
    {{'dataCaptureText2' | translate}}
  </p>

  <h4>{{'dataUsage' | translate}}</h4> 
  <p>
    {{'dataUsageText' | translate}}
  </p> 
  <h4>{{'dataRights' | translate}}</h4>
  <p>
    {{'dataRightsText' | translate}}
  </p>
  <h2>2. {{'hosting' | translate}}</h2>
  <p>{{'hostingInfo' | translate}}</p>
  <h3>{{'hoster' | translate}}</h3> 
  <p>
    {{'hosterText1' | translate}} 
   <a href="https://all-inkl.com/datenschutzinformationen/" target="_blank" rel="noopener noreferrer">https://all-inkl.com/datenschutzinformationen/</a>.
  </p> 
  <p>
    {{'hosterText2' | translate}} 
  </p>
</section>
