section {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 120px 30px 120px 30px;
}

a {
  color: white;
  text-decoration: none;
  &:hover {
    color: #4b47ff;
  }
}

@media screen and (max-width: 1040px) {
  h1 {
    font-size: 60px!important;
  }
}

@media screen and (max-width: 710px) {
  h1 {
    font-size: 50px!important;
  }
}

@media screen and (max-width: 590px) {
  h1 {
    font-size: 40px!important;
  }

  h2 {
    font-size: 26px!important;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 30px!important;
  }

  h2 {
    font-size: 20px!important;
  }
}

@media screen and (max-width: 380px) {
  h1 {
    font-size: 23px!important;
  }

  h2 {
    font-size: 18px!important;
  }
}