section {
 padding-left: 30px;
  padding-top: 120px;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: calc(100vh - 309px);
}

a {
  color: white;
  text-decoration: none;
  &:hover {
    color: #4b47ff;
  }
}

@media screen and (max-width: 410px) {
  h1 {
    font-size: 60px!important;
    margin-top: 50px;
  }
}