<section>
  <!--<div class="vector"></div>-->
  <div class="headline" data-aos="fade-up">
    <h1>{{'contactHeadline' | translate}}</h1>
  </div>
  <div class="contactContainer">
    <div class="contactInfotext">
      <h3>{{'contactSubHeadline' | translate}}</h3>
      <br>
      <p>
        {{'contactText' | translate}}
        <br>
        <br>
      </p>
      <p>{{'contactCta1' | translate}} <b>{{'contactCta2' | translate}}</b></p>
    </div>
    <div class="contactForm">
      <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <!-- Name Input -->
        <label for="name"></label>
        <input #name="ngModel" [(ngModel)]="contactData.name" type="text" id="name" name="name" placeholder="{{'inputName' | translate}}" required 
          [ngClass]="{'invalid': !name.valid && name.touched, 'valid': name.valid && name.touched}">
        <span class="notValid" [class.active]="!name.valid && name.touched">
          @if(!name.valid && name.touched && !name.disabled) {
            {{'validateName' | translate}}
          }
        </span>
    
        <!-- Email Input -->
        <label for="email"></label>
        <input #email="ngModel" [(ngModel)]="contactData.email" type="email" id="email" name="email" placeholder="{{'inputEmail' | translate}}" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" [ngClass]="{'invalid': !email.valid && email.touched, 'valid': email.valid && email.touched}">
        <span class="notValid" [class.active]="!name.valid && name.touched">
          @if(!email.valid && email.touched && !email.disabled) {
            {{'validateEmail' | translate}}
          }
        </span>
    
        <!-- Message Input -->
        <label for="message"></label>
        <textarea #message="ngModel" minlength="4" [(ngModel)]="contactData.message" type="text" id="message" name="message" placeholder="{{'inputMessage' | translate}}" required [ngClass]="{'invalid': !message.valid && message.touched, 'valid': message.valid && message.touched}"></textarea>
        <span class="notValid" [class.active]="!name.valid && name.touched">
          @if(!message.valid && message.touched && !message.disabled) {
            {{'validateMessage' | translate}}
          }
        </span>
        <div class="privacyPolicyContainer">
          <input type="checkbox" id="checkbox" class="checkbox" [(ngModel)]="isChecked" name="privacyPolicyCheckbox">
          <label for="checkbox" class="checkboxLabel">
            <img [src]="isChecked ? './../../../assets/icons/check.png' : './../../../assets/icons/default.png'">
          </label>
          <p>
            {{'privacyPolicy1' | translate}} <a class="privacyPolicy" href="privacy-policy">{{'privacyPolicy2' | translate}}</a> {{'privacyPolicy3' | translate}}.
          </p>
        </div>
        <div class="submitBtn">
          <button class="submit" id="submit" type="submit" [disabled]="isSending ||!isFormValid()" [ngClass]="{ 'valid-button': isFormValid(), 'invalid-button': !isFormValid() }">{{'sendButton' | translate}}</button>
        </div>
      </form>
    </div>
  </div>
  <div class="arrowUp">
    <a href="#hero-section">
      <img src="./../../../assets/icons/arrowUp.png" alt="">
    </a>
  </div>
  <div *ngIf="messageSent" class="overlay">
    <div class="overlayContent">
      <p>{{ 'sendedMessage' | translate }}</p>
      <button (click)="closeOverlay(contactForm)">OK</button>
    </div>
    </div>
    <!--
  <div class="shadowContact">
    <img src="./../../../assets/imgs/shadowlightBlueContact.png" alt="">
  </div>
  -->
</section>