<section>
  <div class="aboutMeText" data-aos="fade-right">
    <h1>{{'aboutMe' | translate}}</h1>
    <p>
      {{'aboutMeText' | translate}}
    </p>
    <div class="infosAboutMe">
      <div class="infoItem">
        <img src="./../../../assets/icons/location.png" alt="">
        <p>
          {{'locationText' | translate}}
        </p>
      </div>
      <div class="infoItem">
        <img src="./../../../assets/icons/bulb.png" alt="">
        <p>
          {{'bulbText' | translate}}
        </p>
      </div>
      <div class="infoItem">
        <img src="./../../../assets/icons/puzzle.png" alt="">
        <p>
          {{'puzzleText' | translate}}
        </p>
      </div>
    </div>
  </div>
  <div class="shadowAboutMe">
    <img src="./../../../assets/imgs/shadowdarkBlueAboutMe.png" alt="">
  </div>
  <div class="aboutMeContainer" data-aos="fade-left">
    <img src="./../../../assets/imgs/Saskia2.png" alt="">
  </div>
  <div class="vector"></div>
</section>