<section>
  <div class="footerContent">
    <div class="logoContainer">
      <img class="logo" src="./../../../assets/imgs/logo.png" alt="">
      <a routerLink="/legal-notice">{{'imprint' | translate}}</a>
    </div>
    <div class="footerText">
      <p> &#169; Saskia Dietrich 2025</p>
      <img src="./../../../assets/imgs/SignatureDA.png" alt="">
    </div>
    <div class="socialMedia">
      <a href="https://github.com/DietrichSaskia" target="_blank">
        <img src="./../../../assets/icons/8. Github button.png" alt="GitHub">
      </a>
      <a href="#contact">
        <img src="./../../../assets/icons/9. Email button.png" alt="Email">
      </a>
      <a href="https://www.linkedin.com/in/saskia-dietrich-51128b33b/" target="_blank">
        <img src="./../../../assets/icons/10. Linkedin button.png" alt="LinkedIn">
      </a>
    </div>
  </div>
</section>